body{
    margin: 0;
    padding: 0;
    
    font-family: sans-serif;
}

.loginbox{
    width: 25%;
    height: 65%;
    background: rgb(5, 5, 5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
    opacity: 0.9;
    border-radius: 10%;
    font-size: large;
}

.bgimg{
    background-image: url(../cover.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

}
.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 15px;
}

.loginbox input[type="submit"]:hover
{
    background: #ffc107;
    color: #000;
}

a{
        color: white;
        text-decoration: none;
        font-size: 70%;
}
a:hover{
        color: red;
}
